@charset "utf-8";
/* CSS Document */


.rencai{
	width:1035px;
	height:720px;
	margin:0 auto;

}
.rencai_top{
	width:1035px;
	height:10px;
	float:left;
}
.feilei{
	width:1030px;
	height:55px;
	border:solid 2px #dddddd;
	float:left;
	background:#f8f8f8;
}
.feilei_top{
	width:1030px;
	height:10px;
	float:left;
}
.feilei_a{
	width:196px;
	height:45px;
	float:left;
}
.feilei_b{
	width:125px;
	height:38px;
	float:left;
	font-family:"微软雅黑";
	font-size:25px;
}
div.feilei_b{
	background:url(../images/rencaiJS01.jpg) no-repeat;
	color:#FFF;
	font-weight: normal;
}
div .feilei_b .current{
	background:url(../images/rencaiJS01.jpg) no-repeat;
	color:#FFF;
}
.feilei_c{
	width:73px;
	height:45px;
	float:left;
}
.feilei_d{
	width:246px;
	height:38px;
	float:left;
	background:url(../images/rencai_FL.jpg);
}
.feilei_e{
	width:125px;
	height:38px;
	float:left;
	font-family:"微软雅黑";
	font-size:25px;
}
div.feilei_e{
	background:url(../images/rencaiXS01.jpg) no-repeat;
	color:#0389c6;
}
div.feilei_e:hover{
	background:url(../images/rencaiXS01.jpg) no-repeat;
	color:#FFF;
	font-weight: normal;
}
div.feilei_e.current{
	background:url(../images/rencaiXS02.jpg) no-repeat;
	color:#FFF;
}
.fenlei_1{
	width:125px;
	height:2px;
	float:left;
}
.fenlei_2{
	width:25px;
	height:30px;
	float:left;
	margin-top:2px;
}
.fenlei_3{
	width:45px;
	height:30px;
	float:left;
	margin-top:2px;
}
.kongge01{
	width:1035px;
	height:10px;
	float:left;
}
.xuanze{
	width:1030px;
	height:76px;
	border:solid 2px #dddddd;
	float:left;
	background:#fafbfb;
	color:#0389c6;
	font-family:"微软雅黑";
}
.xuanze_top{
	width:1030px;
	height:10px;
	float:left;
}
.xuanze_left{
	width:10px;
	height:66px;
	float:left;
}
.xuanze_kj{
	width:32px;/*搜索空白区域的大小**/
	height:30px;
	float:left;
}
.xuanze_a{
	width:950px;
	height:35px;
	float:left;
}
.xuanze_K{
	width:920px;
	height:70px;
	float:left;
}
.xuanze_b{
	width:auto
	height:35px;
	float:left;
}
.xuanze_c_top{
	width:80px;
	height:22px;
	float:left;
}
.xuanze_c{
	width:70px;
	height:40px;
	float:right;
}

.daibiao{
	width:1030px;
	height:510px;
	float:left;
}
.daibiao ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.daibiao li{
	width:257px;
	height:160px;
	float:left;	
}
.daibiao_A{
	width:257px;
	height:20px;
	float:left;
}
.daibiao_B{
	width:30px;
	height:140px;
	float:left;
}
.daibiao_T{
	width:125px;
	height:125px;
	float:left;
	border:solid 1px #d3d3d3;
}
.daibiao_T_top{
	width:125px;
	height:2px;
	float:left;
}
.daibiao_T_left{
	width:2px;
	height:123px;
	float:left;
}
.daibiao_R_left{
	width:10px;
	height:130px;
	float:left;
}
.daibiao_R{
	width:85px;
	height:130px;
	float:left;
}
.daibiao_R_a{
	width:85px;
	height:105px;
	float:left;
}
.daibiao_R_b{
	width:85px;
	height:auto;
	float:left;
	margin-top:5px;
}
.daibiao_R_b_left{
	width:40px;
	height:15px;
	float:left;
	color:#5e5e5e;
}
.daibiao_R_b_right{
	width:85px;
	height:auto;
	float:left;
	color:#05A2CF;
	line-height:12px;
}
.daibiao_H{
	width:1030px;
	height:2px;
	float:left;
	background:url(../images/nameX.jpg no-repeat);
}
.kongbai02{
	width:1030px;
	height:10px;
	float:left;
}
/*****王洋改写***/
/*鼠标导航效果**/
.current{
	background:url(../images/navBG.gif) no-repeat;
}
/***搜索框效果*/
.search_member{
	cursor: pointer;
	font-size: 14px;
	font-family: '微软雅黑';
	background: url("./images/vip_icon.png") no-repeat scroll 0 0 transparent;
	height:30px;
	width:80px;
}
.xuanze_a input{
	width:140px;
	height:20px;
	border: 1px solid #CCCCCC;
	padding-left:2px;
	color:#999;
}
.xuanze_a select{
	border: 1px solid #CCCCCC;
}

.daibiao li:hover{
	background:#FEF9F2;
	cursor:pointer;
}
.menberhover{
	background:#FEF9F2;
	cursor:pointer;
}