<extend name="./Template/base.html" />
<block name="main">
<style type="text/css">
	#self{
		/*text-decoration: underline;*/
	}
	#self:hover{
		color: red!important;
	}
</style>
	<input type="hidden" id="controller" value="__CONTROLLER__"/>
	<input type="hidden" id="user_id" value="{$Think.session.user_id}">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">LOGO</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">餐厅</a></li>
	        <li><a href="#">关于我们</a></li>
	     
	      </ul>
	    
	      <ul class="nav navbar-nav navbar-right">
	      	 <li><a href="__CONTROLLER__/login" id="btn-login">登录</a></li>
	      	 <li><a href="__CONTROLLER__/self" id="self" style="color: orange;">欢迎你,
				<span class="username">
					{$Think.session.nickname}
				</span>
	      	 </a></li>
	      	 <li><a href="__CONTROLLER__/regist" id="btn-regist">注册</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
	<div class="row">
		<div style="width: 92%;margin: 30px auto;" id="tuijian">
			<h3 class="index-title">搜索结果</h3>
			<hr>
			<volist name="food" id="vo">
				<div class="col-md-3 intro" id="{$vo.menu_id}">
					<div class="img-box" style="width: 100%;height: 150px;overflow: hidden;">
						<img class="food-img" src="__PUBLIC__/img/{$vo.image}" />
					</div>
					<div class="intro-text">
						<span class="food-name" style="font-size: 17px;margin-bottom: 3px;display: inline-block;">{$vo.name}</span><br>
						
						<span class="shop-name" style="font-size: 16px;display: inline-block;margin-bottom: 4px;color: #777;">店家:{$vo.refectory_name}</span><br>
						<span class="food-vip">￥{$vo.vip_price}</span>
						<span style="color: #999;float: right;margin-right: 10px;font-size: 13px;">门店价<span style="text-decoration: line-through;">￥{$vo.price}</span></span>
					</div>
				</div>
			</volist>
		
		</div>
		
	</div>


	<script type="text/javascript">
		// $('form#search').submit(function(){
		// 	var query = $('#query').val();
		// 	alert(query);
		// });
		var username = $('.username').html();
		// session['user_id'] = {$Think.session.user_id};
		
		if($.trim(username)){
			$('#index-user').show();
			$('#self').show();
			$('#btn-login').hide();
		}else{
			$('#index-user').hide();
			$('#self').hide();
			$('#btn-login').show();
		}
	</script>
</block>
