<extend name="./Template/base.html" />
<block name="main">
	<table class="table table-striped">
	  <caption style="font-size: 20px;">所有商家</caption>
	  <thead>
	    <tr>
	      <th>会员id</th>
	      <th>账号</th>
	      <th>昵称</th>
	      <th>联系电话</th>
	      <th style="text-align: center;">操作</th>
	    </tr>
	  </thead>
	  <tbody >
		  <volist name="user" id="sub">
			  <tr>
			  	<td>{$sub['user_id']}</td>
			  	<td>{$sub['account']}</td>
			  	<td>{$sub['nickname']}</td>
			  	<td>{$sub['tel']}</td>
			  	<td class="option" style="text-align: center;">
			  		<a class="delData" data-ID="{$sub['user_id']}">删除</a>
			  		<span style="display: inline-block;width: 40px;"></span>
			  		<a class="modData" href="__CONTROLLER__/modifyUser/id/{$sub['user_id']}">修改</a>
			  	</td>
			  </tr>
		  </volist>
		  <script type="text/javascript">
		  	$('.delData').click(function(e){  
		  		e.preventDefault();
		  		var id = $(this).attr('data-ID');
		  		// console.log(id);
		  		layer.confirm('您确定要删除吗？', {
				  btn: ['确定','取消'], //按钮
				}, function(index, layero){
				layer.close(index); 
			  	var url = "__CONTROLLER__/delDataUser/id/" + id;
			  	
			  	$.ajax({
			  		type: "GET",
			  		url: url,
			  		success: function(respond, status, xhr){
			  			if(respond == "删除成功"){
			  				layer.msg('删除成功', {icon: 1});
			  			}else{
			  				layer.msg('删除失败', {icon: 2});
			  			}
			  			window.location.reload();
			  		},

			  		error: function(xhr, textStatus, errorType){
						alert(textStatus + ":" + errorType);
					} 
			  	});
				 
				});
		  	});
		  </script>
	  </tbody>
	</table>

</block>
