<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><block name="title">Document</block></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css"> -->
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/indexController.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/order.js"></script>
	<!-- <script type="text/javascript" src="__PUBLIC__/js/jquery.pagination.js"></script> -->
</head>
<body>
	<block name="main"></block>
</body>
</html>