body{
	font-family: "微软雅黑";
	width: 100%;
	// overflow: hidden;

}
ul{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
.clearfix:before,.clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}

.login-box{
	border-radius: 6px;
	background-color: #F5F5F5;
	margin-top:100px;
}
.loginform{
	margin-top: 40px;
}

.loginbottom{
	position: relative;
}

.loginbottom .checkbox{
	position: absolute;
	left: 0;
}

.loginbottom a{
	position: absolute;
	right: 0;
	margin-top: 8px;
}

.avatar{
	border-radius: 4px;
	height: 40px;
    margin-top: 5px;
	
}

.webname{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.9);
	vertical-align: middle;
	padding:15px 15px;
	font-size:18px;
	line-height:20px;
}

.webname:focus,.webname:hover{text-decoration:none}

.menu{
	padding-left:0; 
	background: #3B3B3B;
	padding-right: 0px;
	height: 100%;
	min-height: 588px;
}
.menu li a{
	border-radius: 0px;
	color: #9d9d9d;
}

.menu li a:hover{
	color: black;
}

.file{
	position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    cursor: pointer;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;

}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

#fileerrorTip,#showFileName{
	// background: red;
	font-size: 15px;
	position: relative;
	top: -10px;
	margin-left: 20px;
	// border:1px solid gray;
}

#showFileName{
	color: #337ab7;
}

#fileerrorTip{
	color: red;s
}

#showImg{
	display: none;
	width: 20%;
	position: relative;
	left: 15px;
}

.container{
	margin-top: 20px;
}



.tips{
	vertical-align: sub;
}

.delData,.modData{
	color: #337AB7;
	cursor: pointer;
}
.delData:hover,.modData:hover{
	color: #2e96ea;
}
td.option{
	text-align: center;
}
.btn{
	height: 30px!important;
	line-height: 30px!important;
	margin-right: 20px!important;
	padding: 0 14px!important;
}

#frame{
padding: 0;

}
.container{
	padding: 20px 20px;
}
.mainContent{
	margin-left: 0px;
}

#frame body{
	padding: 0 20px;
}

.return{
	font-size: 20px;
	margin-top: 14px;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}
caption{
	padding-left: 10px;
}

#index-user{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0 20px;
}

#btn-login:hover,#btn-regist:hover{
	color: #337AB7;
}
#logo{
	width: 180px;
}

#index-search{
	display: inline-block;
	vertical-align: middle;

}
#myCarousel{
	height: 400px;
	overflow: hidden;
	padding: 0;
	// margin-top: 20px;
}
#myCarousel img{
	width: 100%;
}
.carousel-control{
	line-height: 400px;
	font-size: 60px;
}

#nav a{
	color: white;
}
#nav a:hover{
	color: orange;
}
.nav-tabs>li>a{
	border-radius: 0;
}
.nav-tabs{
	border-bottom: none!important;
}
.nav-tabs>li>a{
	color: #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #605f5f;
	color: #ddd;
	border:none;
}
.nav-tabs>li>a{
	border:none;
}
.nav-tabs>li>a:hover{
	background: #4f4e4e;
}

.menu2 .num{
	// display: inline-block;
	margin-right: 10px;
	padding: 0px 6px;
	border-radius: 6px;
	background: #ED6204;
}

.menu2>li{
	// margin-top: 6px;
	height: 37px;
	line-height: 37px;

}
.menu2>li>a{
	color: #ddd;
}
.menu2>li>a:hover{
	color: cyan;
}

.food-name{

}

#tuijian img{width: 100%;}

.intro{
	width: 23.5%;
	padding-bottom: 10px;
	margin-left: 1.1%;
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.1);
	border: 1px solid #eee;
	border-radius: 8px;
	font-size: 14px;
	padding: 0;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}
.intro:hover{
	box-shadow: 2px 2px 8px 0px rgba(0,0,255,0.3);
}
.intro:nth-child(1+4n){
	margin-left: 0!important;
}
.row{
	margin-right: 0;
	margin-left: 0px;
}
.intro-text{
	margin-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.food-vip{
	color: #E50112;
}

.username{
	position: relative;
	top: -1px;
	left: 4px;
}

.self-wrap{
	width: 80%;
	border:1px solid #eee;
	margin: 20px auto;
	padding-left: 20px;
	padding-bottom: 20px;
}

.Avatar{
	margin-top: 10px;
	width: 150px;
	height: 150px;
	vertical-align: top;
	// margin-left: 20px;
}

#self-info{
	display: inline-block;
	margin-left: 10px;
		
}

.self-mod{
	width: 100px;
	padding:3px 8px;
	background: #408CCB;
	color: white;
	cursor: pointer;
}

.self-mod:hover{
	background: #7aafda;
}

.orange{
	color: #fc6210;
}

.addr-complete tr td:first-child{
	width: 120px;
	text-align: right;
	padding-right: 20px;
}
.addr-complete tr td{
	display: inline-block;
	padding-top: 20px;

}

#addr-info{
	width: 94%;
	margin-top: 50px;
}

#addr-info thead{
	background: #F2F2F2;
	height: 30px;
	line-height: 30px;
	width: 100%;
}

#addr-info td{
	padding-left: 6px;
}

.result{
	color: orange;
	font-weight: bold;
	padding-left: 12px;
}

#page .num{
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	padding: 0px 6px;
}
#page .current{
	display: inline-block;
	vertical-align: middle;
	padding: 0px 6px;
	background: orange;
	color: white;
}

#order-num{

	// line-height: 40px;
	border:1px solid #ddd;
	width: 100px;

}
.order-count{
	line-height: 30px;
	font-weight: 200;
}

#order-num>div{
	float: left;
}

#order-main{
	width: 70%;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 20px;
	color: #333;
}

.order-head{
	font-weight: bold;
	font-size: 28px;
	margin: 0 0 15px;
}

.order-remark{
	color: #666;
	font-size: 16px;
	line-height: 24px;	

}
.order-data{
	margin-left: 30px;
}
.order-data,.order-border{
	float: left;
}
.order-data tr{
	border-bottom: 1px solid #eee;
}

.order-img{

	width: 500px;
	height: 300px;
	overflow: hidden;

}

.order-img img{
	border-radius: 2px;
	width: 100%;
}
.order-border{
	padding: 4px;
	border:1px solid #ddd;
	border-radius: 4px;
}

.subNum,.addNum{
	line-height: 30px;
	text-align: center;
	width: 100%;
	display: inline-block;
	height: 30px;
	background: #DDDDDD;
	color: #666;
	cursor: pointer;
}

.subNum:hover,.addNum:hover{
	background: #ccc;
}

.order-data td{
	font-size: 14px;
	padding: 20px 0;

}
.order-data tbody tr:first-child td{
	padding-top: 0;
}
.btn-order{
	display: inline-block;
	width: 150px;
	height: 40px!important;
	border: none;
	line-height: 40px!important;
	font-size: 18px;
	vertical-align: top;
	// font-size: 0;
	color: #fff;
	background-color: orange;
	padding: 0;
	cursor: pointer;
	margin: 0 6px 0 0;
}

.btn-order:hover{
	color: white;
	background: #efa421;
}

.total{
	color: #fc2525;
}

.gray-price{
	color: #999;
}

.through{
	text-decoration: line-through;
}
.order-toggle tr td{
	height: 40px;line-height: 40px;
}
.order-toggle tr td:first-child{
	text-align: right;
	// background: red;
}
.order-toggle tr td:nth-child(2){
	text-align: left;
	padding-left: 20px;
}
input#address,input#tel{
	padding-left: 12px;
	height: 26px;
}

.comment-left{
	float: left;
}

.comment-right{
	float: left;
	margin-left: 20px;
}
.comment-head{
	border: 1px solid #aaa;
	width: 50px;
	height: 50px;
	overflow: hidden;
	background: red;
	border-radius: 50%;
}

.comment-date{
	color: #999;
	font-size: 10px;
}
.comment-head img{
	width: 100%;
}
.write-comment:hover{
	color: #2BB8AA;
}
.write-comment{
	position: relative;
	top: 12px;font-size: 14px;
	color: orange;
	cursor: pointer;
	left: 10px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
}

.comment-box{
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	margin-top: 20px;
}

.fanhe-wrap{
	width: 85%;
	margin: 20px auto 0;
	padding: 20px;
	border: 1px solid #eee;
}

.fanhe-img{
	width: 260px;
	// height: 200px;
	overflow: hidden;
}
.fanhe-img img{
	width: 100%;
}

.fanhe-wrap >div{
	float: left;

}

.fanhe-intro{
	margin-left: 20px;
	text-align: left;
}

// ul.nav li a:hover{color: orange!important;}