<extend name="./Template/base.html" />
<block name="main">
	<table class="table table-striped">
	  <caption style="font-size: 25px;" class="clearfix">
	  	菜单列表
	  	<a href="__CONTROLLER__/upload" class="btn btn-primay" style="width:80px;float: right;color: white;background: #337ab7;margin-top: 8px;">新增菜单</a>
	  </caption>
	  <thead>
	    <tr>
	      <th>菜名</th>
	      <th>普通价</th>
	      <th>会员价</th>
	      <th style="text-indent: 2em;text-align: left;">介绍</th>
	      <th style="text-align: center;">操作</th>
	    </tr>
	  </thead>
	  <tbody >
		  <volist name="data" id="vo">
			  <tr>
			  	<td>{$vo['name']}</td>
			  	<td>{$vo['price']}</td>
			  	<td>{$vo['vip_price']}</td>
			  	<td>{$vo['introduce']}</td>
			  	<td class="option" style="text-align: center;">
			  		<a class="delData" data-ID="{$vo['menu_id']}">删除</a>
			  		<span style="display: inline-block;width: 40px;"></span>
			  		<a class="modData" href="__CONTROLLER__/modify/id/{$vo['menu_id']}">修改</a>
			  	</td>
			  </tr>
		  </volist>
		  <script type="text/javascript">
		  	$('.delData').click(function(e){
		  		e.preventDefault();
		  		var id = $(this).attr('data-ID');
		  		console.log(id);
		  		layer.confirm('您确定要删除吗？', {
				  btn: ['确定','取消'], //按钮
				}, function(index, layero){
				layer.close(index); 
			  	var url = "__CONTROLLER__/delData/id/" + id;
			  	
			  	$.ajax({
			  		type: "GET",
			  		url: url,
			  		success: function(respond, status, xhr){
			  			if(respond == "删除成功"){
			  				layer.msg('删除成功', {icon: 1});
			  			}else{
			  				layer.msg('删除失败', {icon: 2});
			  			}
			  			window.location.reload();
			  		},

			  		error: function(xhr, textStatus, errorType){
						alert(textStatus + ":" + errorType);
					} 
			  	});
				 
				});
		  	});
		  </script>
	  </tbody>
	</table>
	<div id="page" style="text-align: center;">{$show}</div>
</block>