<extend name="./Template/base.html" />
<block name="main">
	<table class="table table-striped">
	  <caption style="font-size: 25px;" class="clearfix">
	  	订单列表
	  </caption>
	  <thead>
	    <tr>
	      <th>订单号</th>
	      <th>用户号码</th>
	      <th>地址</th>
	      <th>金额</th>
	      <th>状态</th>
	      <th>备注</th>
	      <th>下单时间</th>
	      <th style="text-align: center;">操作</th>
	    </tr>
	  </thead>
	  <tbody >
		  <volist name="order" id="vo">
			  <tr>
			  	<td>{$vo['order_id']}</td>
			  	<td>{$vo['tel']}</td>
			  	<td>{$vo['address']}</td>
			  	<td>{$vo['total_price']}</td>
			  	<td>
			  		<if condition="$vo.order_status eq 0">配送中...
			  		<else />已送达
			  		</if>
			  	</td>
			  	<td>
			  		{$vo['remarks']}
			  	</td>
			  	<td>

			  		{$vo['order_time']}
			  	</td>
			  	<td class="option" style="text-align: center;">
			  		<if condition="$vo.order_status eq 0"><a data-ID="{$vo['order_id']}" id="remark" class="btn btn-success" style="margin-right: 0!important;">标为已送达</a>
			  		<else /><span class="glyphicon glyphicon-ok text-info" style=""> </span>
			  		</if>
			  	</td>
			  </tr>
		  </volist>
		  <script type="text/javascript">
		  	$('#remark').click(function(e){
		  		e.preventDefault();
		  		var id = $(this).attr('data-ID');
		  		console.log(id);
		  		layer.confirm('您确定要标为"已送达"吗？', {
				  btn: ['确定','取消'], //按钮
				}, function(index, layero){
				layer.close(index); 
			  	var url = "__CONTROLLER__/remark/id/" + id;
			  	
			  	$.ajax({
			  		type: "GET",
			  		url: url,
			  		success: function(respond, status, xhr){
			  			if(respond == "success"){
			  				layer.msg('标记成功', {icon: 1});
			  			}else{
			  				layer.msg('标记失败', {icon: 2});
			  			}
			  			window.location.reload();
			  		},

			  		error: function(xhr, textStatus, errorType){
						alert(textStatus + ":" + errorType);
					} 
			  	});
				 
				});
		  	});
		  </script>
	  </tbody>
	</table>
	<div id="page" style="text-align: center;">{$show}</div>
</block>